<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="topnav">
  <a href="/">Home</a>
  <a href="/hello">Hello</a>
  <a href="/contact">Contact</a>
</div>

    {{{body}}}

  </body>
</html>
